<form action="https://cieloecommerce.cielo.com.br/Transactional/Order/Index" method="post"> 
<input type="hidden" name="merchant_id" value="ff92fc5d-c6bd-488f-a2b8-ea43552a9d85" />
<input type="hidden" name="order_number" value="0000000001" />
<input type="hidden" name="shipping_type" value="2" />
<input type="hidden" name="Shipping_Zipcode" value="01452002" />
<input type="hidden" name="cart_1_name" value="Camiseta Branca" />
<input type="hidden" name="cart_1_unitprice" value="10000" />
<input type="hidden" name="cart_1_quantity" value="1" />
<input type="hidden" name="cart_1_weight" value="100" />
<input type="hidden" name="cart_1_zipcode" value="20020080" />
<input type="hidden" name="cart_1_type" value="1" />
<input type="hidden" name="shipping_1_name" value="Servico da Loja" />
<input type="hidden" name="shipping_1_price" value="500" />
<input type="hidden" name="shipping_2_name" value="Motoboy" />
<input type="hidden" name="shipping_2_price" value="800" />
<input type="hidden" name="Shipping_Address_Name" value="Av. Brigadeiro Faria Lima" />
<input type="hidden" name="Shipping_Address_Number" value="1461" />
<input type="hidden" name="Shipping_Address_Complement" ype="hidden" name="Shipping_Address_City" value="Sao Paulo" />
<input type="hidden" name="Shipping_Address_State" value="SP" />
<input type="hidden" name="Customer_Name" value="João da Silva" />
<input type="hidden" name="Customer_Email" value="jsilva@braspag.com.br" />
<input type="hidden" name="Customer_Identity" value="26636640650" />
<input type="hidden" name="Customer_Phone" value="1122223333" />
<input type="submit" value="Comprar" /> 
</form>